# 성별 퇴사율 차이

In [2]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
#plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 10, 5
plt.rcParams['font.size'] = 12
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [3]:
df = pd.read_excel('성별 첫일자리 그만둔 사유.xlsx')

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
# 데이터 상위 5개 행
df.head()

# 데이터 구조 확인
df.info()

# 통계 요약
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 66 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   연령구분       3 non-null      object
 1   성별         7 non-null      object
 2   2017.05    7 non-null      object
 3   2017.05.1  7 non-null      object
 4   2017.05.2  7 non-null      object
 5   2017.05.3  7 non-null      object
 6   2017.05.4  7 non-null      object
 7   2017.05.5  7 non-null      object
 8   2017.05.6  7 non-null      object
 9   2017.05.7  7 non-null      object
 10  2018.05    7 non-null      object
 11  2018.05.1  7 non-null      object
 12  2018.05.2  7 non-null      object
 13  2018.05.3  7 non-null      object
 14  2018.05.4  7 non-null      object
 15  2018.05.5  7 non-null      object
 16  2018.05.6  7 non-null      object
 17  2018.05.7  7 non-null      object
 18  2019.05    7 non-null      object
 19  2019.05.1  7 non-null      object
 20  2019.05.2  7 non-null      object
 21  2019.05.3  7 non-null      object
 22  2019.05.4  7 non-null      object
 23  2019.05.5  7 non-null      object
 24  2019.05.6  7 non-null      object
 25  2019.05.7  7 non-null      object
 26  2020.05    7 non-null      object
 27  2020.05.1  7 non-null      object
 28  2020.05.2  7 non-null      object
 29  2020.05.3  7 non-null      object
 30  2020.05.4  7 non-null      object
 31  2020.05.5  7 non-null      object
 32  2020.05.6  7 non-null      object
 33  2020.05.7  7 non-null      object
 34  2021.05    7 non-null      object
 35  2021.05.1  7 non-null      object
 36  2021.05.2  7 non-null      object
 37  2021.05.3  7 non-null      object
 38  2021.05.4  7 non-null      object
 39  2021.05.5  7 non-null      object
 40  2021.05.6  7 non-null      object
 41  2021.05.7  7 non-null      object
 42  2022.05    7 non-null      object
 43  2022.05.1  7 non-null      object
 44  2022.05.2  7 non-null      object
 45  2022.05.3  7 non-null      object
 46  2022.05.4  7 non-null      object
 47  2022.05.5  7 non-null      object
 48  2022.05.6  7 non-null      object
 49  2022.05.7  7 non-null      object
 50  2023.05    7 non-null      object
 51  2023.05.1  7 non-null      object
 52  2023.05.2  7 non-null      object
 53  2023.05.3  7 non-null      object
 54  2023.05.4  7 non-null      object
 55  2023.05.5  7 non-null      object
 56  2023.05.6  7 non-null      object
 57  2023.05.7  7 non-null      object
 58  2024.05    7 non-null      object
 59  2024.05.1  7 non-null      object
 60  2024.05.2  7 non-null      object
 61  2024.05.3  7 non-null      object
 62  2024.05.4  7 non-null      object
 63  2024.05.5  7 non-null      object
 64  2024.05.6  7 non-null      object
 65  2024.05.7  7 non-null      object
dtypes: object(66)
memory usage: 3.7+ KB

,연령구분,성별,2017.05,2017.05.1,2017.05.2,2017.05.3,2017.05.4,2017.05.5,2017.05.6,2017.05.7,...,2023.05.6,2023.05.7,2024.05,2024.05.1,2024.05.2,2024.05.3,2024.05.4,2024.05.5,2024.05.6,2024.05.7
count,3,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
unique,3,4,7,7,6,7,7,7,7,7,...,6,7,7,7,7,7,7,7,7,7
top,연령구분,전체,이직 경험자 전체,"근로여건 불만족(보수, 근로시간 등)",227,전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외,...,38,그 외,이직 경험자 전체,"근로여건 불만족(보수, 근로시간 등)","개인/가족적이유(건강,육아,결혼등)",전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외
freq,1,2,1,1,2,1,1,1,1,1,...,2,1,1,1,1,1,1,1,1,1

In [5]:
df = df[df['연령구분'] != '20~34세'] #20~34세 행은 제거
df = df.drop(index = [5,6]) #나머지 불필요 행도 제거
df.drop(df.columns[:2], axis=1, inplace=True) #0,1번째 열 제거
df.index = ['퇴직사유', '전체', '남자', '여자'] #행 이름 설정
df

,2017.05,2017.05.1,2017.05.2,2017.05.3,2017.05.4,2017.05.5,2017.05.6,2017.05.7,2018.05,2018.05.1,...,2023.05.6,2023.05.7,2024.05,2024.05.1,2024.05.2,2024.05.3,2024.05.4,2024.05.5,2024.05.6,2024.05.7
0,이직 경험자 전체,"근로여건 불만족(보수, 근로시간 등)","개인/가족적이유(건강,육아,결혼등)",전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외,이직 경험자 전체,"근로여건 불만족(보수, 근로시간 등)",...,"직장휴업, 폐업, 파산 등",그 외,이직 경험자 전체,"근로여건 불만족(보수, 근로시간 등)","개인/가족적이유(건강,육아,결혼등)",전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외
1,2516,1284,348,180,167,303,60,175,2574,1313,...,55,189,2472,1125,379,190,155,385,59,179
2,1113,546,120,97,78,150,28,94,1171,571,...,16,81,1159,515,179,97,77,170,21,100
3,1403,738,227,83,89,153,31,82,1404,742,...,38,107,1313,610,200,93,78,215,38,80

In [6]:
df.head()
# 0번째 행을 인덱스로 지정
df.columns = df.iloc[0]      # 0번째 행을 열 이름으로
df = df[1:]                  # 0번째 행 제거
df = df.drop(df.columns[0], axis=1)
df

,"근로여건 불만족(보수, 근로시간 등)","개인/가족적이유(건강,육아,결혼등)",전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외,"근로여건 불만족(보수, 근로시간 등)","개인/가족적이유(건강,육아,결혼등)",전망이 없어서,...,"임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외,"근로여건 불만족(보수, 근로시간 등)","개인/가족적이유(건강,육아,결혼등)",전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외
1,1284,348,180,167,303,60,175,1313,365,224,...,383,55,189,1125,379,190,155,385,59,179
2,546,120,97,78,150,28,94,571,142,120,...,178,16,81,515,179,97,77,170,21,100
3,738,227,83,89,153,31,82,742,223,105,...,205,38,107,610,200,93,78,215,38,80

In [7]:
#맨 앞의 열을 인덱스로 지정
df.set_index(df.columns[0], inplace=True)
df.index.name = '퇴직사유'
df

,"개인/가족적이유(건강,육아,결혼등)",전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외,"개인/가족적이유(건강,육아,결혼등)",전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남",...,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외,"개인/가족적이유(건강,육아,결혼등)",전망이 없어서,"전공, 지식, 기술, 적성등이 맞지않아서","임시적, 계절적인 일의 완료, 계약기간 끝남","직장휴업, 폐업, 파산 등",그 외
퇴직사유,,,,,,,,,,,,,,,,,,,,,
"(1284, 1313, 1377, 1338, 1263, 1203, 1194, 1125)",348,180,167,303,60,175,365,224,154,320,...,164,383,55,189,379,190,155,385,59,179
"(546, 571, 612, 614, 583, 565, 558, 515)",120,97,78,150,28,94,142,120,79,152,...,76,178,16,81,179,97,77,170,21,100
"(738, 742, 765, 724, 680, 638, 636, 610)",227,83,89,153,31,82,223,105,76,169,...,88,205,38,107,200,93,78,215,38,80